<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Merged file</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>

    <div class="container download_container">
      <img src="/public/img/vector.svg" class="illustration_download">
      <div class="wrapper">
        <h1 class="Heading_1">Merged file is ready!</h1>
        <h2 class="Heading_2">Now you can download it</h2>

      <a href="/public/mergedFileResult.txt" download="Merged file result">
        <button class="main_button download_button" type="button">Download file</button>
      </a>

      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <!-- <script src="/public/js/main.js" type="text/javascript"></script> -->
  </body>
</html>
